* {
    padding: 0px 0px;
    margin: 0px 0px;
}
h1 {
    color: blue;
    text-align: center;
    font-size:2.125rem ;
}

#divRecipe {
    margin-top: 100px;
}
#divRecipe ul{
    list-style-type: none;
    text-align: center;
}

#divRecipe li{
    margin-top: 10px;
    margin-bottom: 10px;
}